$white: #fff;
$black: #000;

$purple-1: #ec0c1c;
$purple-2: #f45c69;
$purple-3: #f04028;
$purple-4: #f4848c;
$purple-5: #fac0c5;
$purple-6: #f7eced;

$grayscale-0: #000000;
$grayscale-10: #1a1a1a;
$grayscale-20: #333333;
$grayscale-25: #404040;
$grayscale-30: #f0f0f0;
$grayscale-35: #595959;
$grayscale-40: #666666;
$grayscale-45: #737373;
$grayscale-55: #8c8c8c;
$grayscale-70: #b4b4b4;
$grayscale-80: #d4d4d4;
$grayscale-90: #e2e2e2;
$grayscale-95: #f2f2f2;
$grayscale-98: #fafafa;
$grayscale-100: #ffffff;

$green-1: #56ab2f;
$green-2: #a8e063;
$orange-1: #ff512f;
$orange-2: #f09819;
$red-1: #ec0c1c;
$red-2: #f4848c;
$blue-1: #405ec9;
$blue-2: #eff2fb;

$shadow-button-purple: #ca8188;
$shadow-button-destructive: rgba(208, 87, 87, 0.4);
